:host {
	display: block;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: var(--backgorund-color, white);
	box-shadow: var(--header-shadow, 0 2px 4px rgba(0, 0, 0, 0.1));
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}

.header-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;

	width: 100%;
}

.header-bottom__center {
	flex-grow: 1;
	display: flex;
}

.header-bottom__right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo {
	max-width: 100px;
}

.navbar-mobile {
	margin-left: auto;
}

.navbar-desktop {
	display: none;
}

.social-media-icons-desktop {
	display: none;
}

.social-media-icons-mobile,
.social-media-icons-desktop {
	--fab-container-color: transparent;
	--fab-icon-color: black;
}

@media screen and (min-width: 650px) {
	.header-bottom__center {
		align-items: center;
		justify-content: center;
	}

	.navbar-mobile {
		display: none;
	}

	.navbar-desktop {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.header {
		padding: 5px 25px;
	}

	.logo {
		max-width: 150px;
	}
}

@media screen and (min-width: 992px) {
	.header-top {
		display: none;
	}

	.social-media-icons-mobile {
		display: none;
	}

	.social-media-icons-desktop {
		display: flex;
	}
}
