<header class="header">
	<section class="header-top">
		<mdlc-social-media-icons class="social-media-icons-mobile" />
	</section>

	<section class="header-bottom">
		<section class="header-bottom__left">
			<img
				class="logo"
				src="assets/logo.webp"
				alt="Logo Manos de La Cava"
			/>
		</section>

		<section class="header-bottom__center">
			<mdlc-navbar-mobile class="navbar-mobile" />
			<mdlc-navbar-desktop class="navbar-desktop" />
		</section>

		<section class="header-bottom__right">
			<button class="primary">Donar</button>
			<mdlc-social-media-icons class="social-media-icons-desktop" />
		</section>
	</section>
</header>
