<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="intervenciones-main-title"
>
	<div class="content-block">
		<header>
			<h1
				id="intervenciones-main-title"
				class="page-main-title"
			>
				Intervenciones Sociales
			</h1>
		</header>
		<p>
			Se trabaja en la escucha e identificación de problemáticas, con el objetivo de orientar a las personas y
			contactarlas con los recursos gubernamentales y no gubernamentales disponibles en la zona.
		</p>
		<p>
			Consultas de familias en relación con la búsqueda de trabajo, problemas de vivienda, violencia familiar, problemas
			de conducta en la escuela y derechos vulnerados de los niños.
		</p>
		<p>
			Esta tarea la podemos llevar acabo mediante los operadores quienes se encargan de vincular al barrio con la
			institución.
		</p>
	</div>

	<div class="content-block content-media content-media--image">
		<mdlc-image-viewer
			imageUrl="assets/programs/kindergarden/manitos-2.webp"
			altText="Trabajador social de Manos de la Cava conversando con miembros de la comunidad."
			width="1200"
			height="800"
			[lazyLoad]="true"
		/>
	</div>
</mdlc-content-layout>
