:host {
	display: block;
}

.contact-info {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-m);
}

p {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);

	font-size: 1.2rem;
}

p span {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.stripped-bordered-card {
		--stripped-bordered-card-width: 75%;
	}
}

@media screen and (min-width: 1200px) {
	.stripped-bordered-card {
		--stripped-bordered-card-width: 50%;
	}
}
