<article>
	<button
		mat-icon-button
		[matMenuTriggerFor]="menu"
		aria-label="Abrir menú"
	>
		<mat-icon>more_horizontal</mat-icon>
	</button>
	<nav>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<a class="text" routerLink="">Inicio</a>
			</button>
			<button mat-menu-item>
				<a class="text" routerLink="programas">Programas</a>
			</button>
			<button mat-menu-item>
				<a class="text" routerLink="nosotros">Nosotros</a>
			</button>
			<button mat-menu-item>
				<a class="text" routerLink="contacto">Contacto</a>
			</button>
		</mat-menu>
	</nav>
</article>
