<article>
	<button
		mat-icon-button
		[matMenuTriggerFor]="menu"
		aria-label="Abrir menú"
	>
		<mat-icon>more_horizontal</mat-icon>
	</button>
	<nav>
		<mat-menu #menu="matMenu">
			<button
				mat-menu-item
				class="text"
				routerLink=""
			>
				Inicio
			</button>
			<button
				mat-menu-item
				class="text"
				routerLink=""
				fragment="programas"
			>
				Programas
			</button>
			<button
				mat-menu-item
				class="text"
				routerLink="nosotros"
			>
				Nosotros
			</button>
			<button
				mat-menu-item
				class="text"
				routerLink=""
				fragment="contacto"
			>
				Contacto
			</button>
		</mat-menu>
	</nav>
</article>
