<article class="top-images-container">
	@for (image of topImages; track $index) {
		<mdlc-image-viewer
			class="image-viewer"
			[imgUrl]="image.imgUrl"
			[imgAlt]="image.imgAlt"
		/>
	}
</article>

<div class="content-container">
	<h1>Acompañamos, contenemos y abrimos caminos.</h1>
	<a class="primary donate-button" routerLink="donar">Donar</a>
</div>

<article class="bottom-images-container">
	@for (image of bottomImages; track $index) {
		<mdlc-image-viewer
			class="image-viewer"
			[imgUrl]="image.imgUrl"
			[imgAlt]="image.imgAlt"
		/>
	}
</article>
