* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html,
body {
	--font-size: 87.5%;

	min-height: 100%;
	background: var(--background-color);
	color: var(--background-contrast-color);
	margin: 0;

	font-size: var(--font-size); /* 16px * 87.5% = 14px  */
	scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
	:root {
		--font-size: 100%;
	}
}

@media screen and (min-width: 992px) {
	:root {
		--font-size: 112.5%;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--font-size: 125%;
	}
}
