:root {
	/*
    Please use the following template to add new variables, dark/light valuations are optional.

    --<name>-color: <color>;
    --<name>-contrast-color: <contrast-color>;
    --<name>-dark-color: <dark-color>;
    --<name>-dark-contrast-color: <dark-contrast-color>;
    --<name>-light-color: <light-color>;
    --<name>-light-contrast-color: <light-contrast-color>;
  */

	/** Prevalent color in the application */
	--primary-color: #452968;
	--primary-contrast-color: #ffffff;
	--primary-dark-color: #301b4a;
	--primary-dark-contrast-color: #ffffff;
	--primary-light-color: #7a5a9e;
	--primary-light-contrast-color: #000000;

	--secondary-color: #f5f5f5;
	--secondary-contrast-color: #000000;
	--secondary-dark-color: #707070;
	--secondary-dark-contrast-color: #ffffff;
	--secondary-light-color: #ffffff;
	--secondary-light-contrast-color: #000000;

	--tertiary-color: #70b29f;
	--tertiary-contrast-color: #000000;
	--tertiary-dark-color: #4a7a6a;
	--tertiary-dark-contrast-color: #ffffff;
	--tertiary-light-color: #a0d8c8;
	--tertiary-light-contrast-color: #000000;

	--quaternary-color: #f5a05c;
	--quaternary-contrast-color: #000000;
	--quaternary-dark-color: #c8803a;
	--quaternary-dark-contrast-color: #ffffff;
	--quaternary-light-color: #f7c08a;
	--quaternary-light-contrast-color: #000000;

	--quinary-color: #4ca9df;
	--quinary-contrast-color: #000000;
	--quinary-dark-color: #2a7ca5;
	--quinary-dark-contrast-color: #ffffff;
	--quinary-light-color: #7fc4e8;
	--quinary-light-contrast-color: #000000;

	--senary-color: #ef6c6c;
	--senary-contrast-color: #000000;
	--senary-dark-color: #b53a3a;
	--senary-dark-contrast-color: #ffffff;
	--senary-light-color: #f29a9a;
	--senary-light-contrast-color: #000000;

	--background-color: white;
	--background-contrast-color: black;
	--icon-color: black;
	--error-color: red;
	--text-color: #060606;

	/* Spacing. */
	--section-spacing: 40px;
	--spacing-l: 32px;
	--spacing-m: 24px;
	--spacing-s: 12px;
	--spacing-xs: 4px;

	/* Shadows */
	--media-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
	--media-box-shadow-hover: 0 6px 16px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 575px) {
	:root {
		/* Spacing. */
		--section-spacing: 48px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		/* Spacing. */
		--section-spacing: 56px;
	}
}

@media screen and (min-width: 992px) {
	:root {
		/* Spacing. */
		--section-spacing: 64px;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		/* Spacing. */
		--section-spacing: 72px;
	}
}
