:root {
	/*
    Please use the following template to add new variables, dark/light valuations are optional.

    --<name>-color: <color>;
    --<name>-contrast-color: <contrast-color>;
    --<name>-dark-color: <dark-color>;
    --<name>-dark-contrast-color: <dark-contrast-color>;
    --<name>-light-color: <light-color>;
    --<name>-light-contrast-color: <light-contrast-color>;
  */

	/** Prevalent color in the application */
	--primary-color: #452968;
	--primary-contrast-color: #ffffff;
	--primary-dark-color: #301b4a;
	--primary-dark-contrast-color: #ffffff;
	--primary-light-color: #7a5a9e;
	--primary-light-contrast-color: #000000;

	--background-color: white;
	--background-contrast-color: black;

	--icon-color: black;

	--error-color: red;
}
