<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="deportes-main-title"
>
	<div class="content-block">
		<header>
			<h1
				id="deportes-main-title"
				class="page-main-title"
			>
				Deportes
			</h1>
		</header>
		<p>
			Creemos que el deporte tiene una gran implicancia en el desarrollo de los chicos. A través de él, se trabajan
			valores tanto grupales como personales y se busca evitar la situación de calle en que se encuentran los chicos por
			falta de lugares de esparcimiento.
		</p>
	</div>

	<div class="content-block content-media">
		<mdlc-text-card style="--card-background-color: var(--quinary-light-color)">
			<p>
				El deporte ordena a los chicos, los hace trabajar en equipo, respetar horarios y reglas, les enseña a ser
				solidarios y a hacer amigos, a superar objetivos y alcanzar metas y fomenta la capacidad de motivación y
				superación.
			</p>
		</mdlc-text-card>
	</div>

	<div class="content-block">
		<p>
			Asimismo, en lo físico, evita la obesidad, fortalece y desarrolla la estructura muscular, mejora la capacidad
			aeróbica y se desarrolla la anaeróbica, previene enfermedades y levanta la autoestima. Para esto se crean espacios
			para niños y adolescentes en los cuales se desarrollan las actividades, acompañadas por una merienda donde,
			mediante una charla, hacemos hincapié en los valores antes mencionados.
		</p>
		<p>
			También se organizan salidas recreativas y torneos, en las cuales consideramos importante que los chicos compitan
			dentro y fuera del barrio.
		</p>
		<p>Este tipo de actividades permiten el desarrollo de la confianza en sí mismo y la independencia.</p>
	</div>

	<!-- Bloque 4: Imagen Final -->
	<div class="content-block content-media content-media--image">
		<mdlc-image-viewer
			class="top-position"
			imageUrl="assets/programs/kindergarten/manitos-3.webp"
			altText="Jóvenes participando en actividades deportivas en Manos de la Cava."
			width="600"
			height="400"
		/>
	</div>
</mdlc-content-layout>
