<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="donar-main-title"
>
	<div class="content-block">
		<header>
			<h1
				id="donar-main-title"
				class="page-main-title"
			>
				Donar
			</h1>
		</header>
		<p>Quiero Donar con tarjeta de crédito / débito</p>
		<div class="donation-cards-grid">
			@for (card of donationCards; track card.title) {
				<a
					class="donation-card-link"
					[href]="donationLink"
					target="_blank"
				>
					<mdlc-icon-title-card
						class="donation-card-item"
						[title]="card.title"
						[iconName]="card.icon"
						[isSvgIcon]="true"
						[ngStyle]="{
							'--icon-title-card-bg-color': getBgColor(card.programName),
							'--icon-title-card-color': getTextColor(card.programName),
							'--icon-title-card-icon-color': getTextColor(card.programName),
						}"
					/>
				</a>
			}
		</div>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="mercadopago-title"
>
	<div class="content-block">
		<mdlc-stripped-bordered-card
			class="stripped-bordered-card"
			[title]="mercadoPago.title"
		>
			<p>Alias</p>
			<p>{{ mercadoPago.alias }}</p>
			<p>CVU</p>
			<p>{{ mercadoPago.cvu }}</p>
		</mdlc-stripped-bordered-card>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="transferencia-title"
>
	<div class="content-block">
		<mdlc-stripped-bordered-card
			class="stripped-bordered-card"
			[title]="bankTransfer.title"
		>
			<p>Nombre de la cuenta: {{ bankTransfer.accountName }}</p>
			<p>Banco: {{ bankTransfer.bankName }}</p>
			<p>Alias: {{ bankTransfer.alias }}</p>
			<p>Cuenta corriente bancaria: {{ bankTransfer.checkingsAccount }}</p>
			<p>CBU: {{ bankTransfer.cbu }}</p>
			<p>CUIT {{ bankTransfer.cuit }}</p>
		</mdlc-stripped-bordered-card>
	</div>
</mdlc-content-layout>
