:host {
	display: block;
}

.donation-cards-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-m);
	margin-top: var(--spacing-m);
}

.donation-card-link {
	text-decoration: none;
}

.donation-card-item {
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition:
		transform 0.2s ease-out,
		box-shadow 0.2s ease-out;
	text-decoration: none;
}

.donation-card-item:hover {
	transform: translateY(-4px);
	box-shadow: var(--media-box-shadow);
}

@media (min-width: 768px) {
	.donation-cards-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-l);
	}

	.donation-card-item {
		--icon-title-card-title-font-size: 2.2rem;
		--icon-title-card-icon-font-size: 3.5rem;
		--icon-title-card-icon-dimension: 3.5rem;
		--icon-title-card-padding: var(--spacing-m);
	}
}

@media (min-width: 992px) {
	.donation-card-item:last-child:nth-child(odd) {
		grid-column: 2 / 3;
	}

	.donation-card-item {
		--icon-title-card-title-font-size: 2.5rem;
		--icon-title-card-icon-font-size: 4rem;
		--icon-title-card-icon-dimension: 4rem;
	}

	.stripped-bordered-card {
		--stripped-bordered-card-width: 75%;
	}
}

@media screen and (min-width: 1200px) {
	.donation-card-item {
		--icon-title-card-title-font-size: 3rem;
		--icon-title-card-icon-font-size: 5rem;
		--icon-title-card-icon-dimension: 5rem;
	}

	.stripped-bordered-card {
		--stripped-bordered-card-width: 50%;
	}
}
