* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*GENERAL*/


/*END GENERAL*/

/*HEADER*/
.encabezado {
    top: 0;
    width: 100%;
}
.linkLogo {
    width: 10%;
    margin: 1% 0%;
}
.encabezado-1-logo {
    width: 100%;
}
.encabezado-2-navbar {
    width: 100%;
    padding: 15px 0px;
    display: fixed;
}
.encabezado-2-navbar-secciones {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgb(153, 153, 153);
    justify-content: space-around;
    padding: 0px 6%;
}
.encabezado-2-navbar-secciones li a {
    background-color: rgb(153, 153, 153);
    text-decoration: none;
    color: rgb(145, 39, 145);
    padding: 10px 15px;
    display: block;
    font-weight: bold;
}
.encabezado-2-navbar-secciones li a:hover {
    text-decoration: underline;
}
.encabezado-2-navbar-secciones-bienvenido, .encabezado-2-navbar-secciones-contacto, .encabezado-2-navbar-secciones-nosotros, .encabezado-2-navbar-secciones-programas, .encabezado-2-navbar-secciones-donar, .encabezado-2-navbar-secciones-resultados {
    align-self: center;
}
.encabezado-2-navbar-secciones-programas-submenu {
    list-style: none;
    position: absolute;
    display: none;
    z-index: 1;
}
.encabezado-2-navbar-secciones-programas:hover > ul {
    display: block;
}

/*END HEADER*/

/* BIENVENIDO*/

/* END BIENVENIDO */

/* FOOTER */

/* edito la estructura del footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(145, 39, 145);
}
article {
    width: 20%;
    margin-top: 2.5%;
}
footer div img {
    vertical-align: middle;
}

/* edito los articulos dentro del footer */
footer article h3 {
    text-align: center;
    color: white;
}
footer article p {
    color: white;
    margin: 5% auto;
    padding: 3%;
}
footer article p a {
    color: rgb(153, 153, 153);
}
.newsletterDiv {
    margin: 5% auto;
}
.newsletterDiv label {
    color: white;
}
footer form input {
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 2px;
}
footer form button {
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 2px;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
}
/*END FOOTER*/




