* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*GENERAL*/
.encabezado-2-navbar-secciones li a {
    background-color: rgb(145, 39, 145);
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
}
.encabezado-2-navbar-secciones li a:hover {
    background-color: gray;
}

/*END GENERAL*/

/*HEADER*/
.encabezado {
    top: 0;
    width: 100%;
    display: fixed;
}
.encabezado-1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.encabezado-1-logo {
    width: 20%;
    align-self: center;
}
.encabezado-1-subtitulo {
    color: gray;
    width: 80%;
    align-self: center;
    text-align: center;
}
.encabezado-1-subtitulo i {
    color: rgb(145, 39, 145);
}
.encabezado-2-navbar {
    width: 100%;
    padding: 15px 0px;
}
.encabezado-2-navbar-secciones {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgb(145, 39, 145);
    justify-content: space-around;
    padding: 0px 6%;
}
.encabezado-2-navbar-secciones-bienvenido {
    align-self: center;
}
.encabezado-2-navbar-secciones-nosotros {
    align-self: center;
}
.encabezado-2-navbar-secciones-programas {
    align-self: center;
}
.encabezado-2-navbar-secciones-programas-submenu {
    list-style: none;
    position: absolute;
    display: none;
    z-index: 1;
}
.encabezado-2-navbar-secciones-programas:hover > ul {
    display: block;
}
.encabezado-2-navbar-secciones-donar {
    align-self: center;
}
.encabezado-2-navbar-secciones-contacto {
    align-self: center;
}
/*END HEADER*/

/*MAIN*/
/*DISEÑO NARANJA*/
.disenoNaranja {
    background-color: rgb(255, 165, 0);
    width: 80%;
    padding: 3%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.disenoNaranja h2 {
    margin-bottom: 2%;
    font-weight: 700;
    font-style: italic;
}
.disenoNaranja h3 {
    font-weight: 100;
}
/*END DISEÑO NARANJA*/

/*SLIDER*/

.containerSlider {
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
}
.slider, 
.sliderButtons {
    list-style: none;
    width: 100%;
}
.slider img {
    width: 100%;
    position: absolute;
}
.sliderButtons {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    top: 100%;
}
.sliderButtons li{
    z-index: 1;
    background-color: rgb(145, 39, 145);
    border-radius: 3px;
    width: fit-content;
    padding: 3px;
    margin: 0% 1%;
}
.sliderButtons li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/*END SLIDER*/


