<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="salud-main-title"
>
	<div class="content-block">
		<header>
			<h1
				id="salud-main-title"
				class="page-main-title"
			>
				Acceso a la Salud
			</h1>
		</header>
		<p>
			Tal como señala la Organización Mundial de la Salud en su Carta Constitucional(1946), consideramos a la salud,
			como un estado de bienestar físico, mental y social y no solamente ausencia de enfermedad.
		</p>
		<p>
			Dicho bienestar puede ser objetivo o subjetivo donde consideramos la atención psicológica, el acompañamiento
			individual y la escucha, pilares fundamentales a trabajar.
		</p>
	</div>
	<div class="content-block content-media content-media--image">
		<mdlc-image-viewer
			imageUrl="assets/programs/kindergarten/manitos-1.webp"
			altText="Profesional de la salud interactuando con miembros de la comunidad."
			[lazyLoad]="false"
			width="1200"
			height="800"
		/>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-split"
	aria-labelledby="atencion-psicologica-title"
>
	<div class="content-block">
		<h2
			id="atencion-psicologica-title"
			class="section-title"
		>
			Atención Psicológica
		</h2>
		<p>
			Buscamos acompañar los procesos personales y familiares de quienes se acercan a Manos de La Cava. Trabajamos en la
			búsqueda del autoconocimiento para fortalecer y lograr mejorar el índice de resiliencia en este difícil contexto
			en el que trabajamos.
		</p>
		<ul>
			<li>Tratamiento psicológico</li>
			<li>Psicoterapia familiar</li>
			<li>Grupos terapéuticos</li>
			<li>Psicodiagnóstico</li>
			<li>Orientación en adicciones</li>
			<li>Acompañamiento y orientación a familiares en la problemática de adicciones.</li>
			<li>Acompañamiento a familiares en procesos judiciales.</li>
		</ul>
	</div>
	<div class="content-block content-media content-block--center-self">
		<mdlc-text-card class="quote-card">
			<p>
				<em>
					“La salud es principalmente una medida de la capacidad de cada persona de hacer o de convertirse en lo que
					quiere ser”
				</em>
			</p>
			<p>- René Dubos</p>
		</mdlc-text-card>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="promocion-salud-title"
>
	<div class="content-block">
		<h2
			id="promocion-salud-title"
			class="section-title"
		>
			Promoción de la Salud
		</h2>
		<ul>
			<li>Actividades de prevención de enfermedades infecto contagiosas (TBC, HIV, HPV)</li>
			<li>Campañas semestrales de vacunación para niños, niñas y adolescentes</li>
			<li>Actividades de prevención y tratamiento odontológico</li>
			<li>Campañas de control oftalmológico</li>
			<li>
				Articulación con las diferentes instituciones de Salud Pública del Municipio de San Isidro y la Provincia de
				Buenos Aires.
			</li>
		</ul>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="prevencion-riesgo-title"
>
	<div class="content-block">
		<h2
			id="prevencion-riesgo-title"
			class="section-title"
		>
			Prevención en Problemáticas de Riesgo
		</h2>
		<p>
			Programa de prevención, detección e intervención temprana para el abordaje de problemáticas de salud y salud
			mental en niños en situación de riesgo social.
		</p>
		<ul>
			<li>Detección e intervención temprana en situaciones relacionadas con el consumo de sustancias.</li>
			<li>
				Construcción de una red de recursos institucionales gubernamentales y no gubernamentales para facilitar la
				atención de niños menores de 14 años con problemas relacionados con el consumo de sustancias (Servicios locales
				y Zonales de la Secretaría de Niñez de la Provincia de Buenos Aires e instituciones especializadas en temas de
				niñez y adolescencia pertenecientes s la Federación de Organizaciones No Gubernamentales de la Argentina para la
				prevención y el abordaje del abuso de sustancias – FONGA-)
			</li>
			<li>Intervenciones en prevención del delito juvenil.</li>
			<li>Programa de promoción del uso saludable del tiempo libre en niños y adolescentes</li>
		</ul>
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	class="layout-split"
	aria-labelledby="nutricion-title"
>
	<div class="content-block">
		<h2
			id="nutricion-title"
			class="section-title"
		>
			Programa Integral de Nutrición
		</h2>
		<ul>
			<li>Almuerzan 550 personas, entre niños, adolescentes y adultos</li>
			<li>Meriendan 550 personas entre niños, adolescentes y adultos</li>
			<li>Programa de educación en buenas prácticas nutricionales para madres.</li>
		</ul>
	</div>
	<div class="content-block content-media content-media--image">
		<mdlc-image-viewer
			class="programa-integral-nutricion-image"
			imageUrl="assets/programs/kindergarten/manitos-2.webp"
			altText="Personas recibiendo alimentos nutritivos como parte del programa."
			width="600"
			height="400"
		/>
	</div>
</mdlc-content-layout>
