button.primary,
a.primary,
button.secondary,
a.secondary,
button.text,
a.text {
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
	font-size: 1rem;
	text-decoration: none;
	padding: 8px 20px;
	border: none;
	border-radius: 8px;
	transition:
		background-color,
		opacity 300ms ease-in-out;
}

button.primary:disabled,
a.primary:disabled,
button.secondary:disabled,
a.secondary:disabled,
button.text:disabled,
a.text:disabled {
	opacity: 0.8;
}
