button.text,
a.text {
	background-color: transparent;
	color: var(--primary-color);
	position: relative;
}

button.text::before,
a.text::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--primary-color);
	transition: width 300ms ease-in-out;
}

button.text:hover::before,
a.text:hover::before {
	width: 100%;
}

button.text:active,
a.text:active {
	color: var(--primary-dark-color);
}
