button.primary,
a.primary {
	background-color: var(--primary-color);
	color: var(--primary-contrast-color);
}

button.primary:hover,
a.primary:hover {
	background-color: var(--primary-light-color);
}

button.primary:active,
a.primary:active {
	background-color: var(--primary-dark-color);
}
