<a
	mat-mini-fab
	class="stripped-mini-fab"
	aria-label="Facebook Manos de la Cava"
	href="https://www.facebook.com/ManosDeLaCava/?locale=es_LA"
	target="_blank"
>
	<mat-icon>facebook</mat-icon>
</a>

<a
	mat-mini-fab
	class="stripped-mini-fab"
	aria-label="YouTube Manos de la Cava"
	href="https://www.youtube.com/@manosdelacava6206"
	target="_blank"
>
	<mat-icon>youtube</mat-icon>
</a>

<a
	mat-mini-fab
	class="stripped-mini-fab"
	aria-label="Instagram Manos de la Cava"
	href="https://www.instagram.com/manosdelacava/?hl=es"
	target="_blank"
>
	<mat-icon>instagram</mat-icon>
</a>
