h1 {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.2;
	font-style: normal;
}

h1.section-title,
h1.page-main-title {
	margin-bottom: var(--spacing-l);
}
