:host {
	--icon-container-color: var(--primary-contrast-color);
	--text-color: var(--primary-contrast-color);

	display: block;
	background-color: var(--primary-color);

	padding: 25px 10px;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.logo-container {
	max-width: 100px;
}

.logo-container button {
	--container-size: 75px;

	width: var(--container-size);
	height: var(--container-size);
	--mdc-fab-container-color: var(--icon-container-color);
	--mdc-circular-progress-active-indicator-color: var(--icon-container-color);
	--mat-slider-ripple-color: var(--icon-container-color);
}

.logo-container img {
	max-width: 100%;
	height: auto;
}

.institutional-info-container {
	flex-grow: 1;
	color: var(--text-color);
}

.institutional-info-container p {
	text-align: center;
}

.email {
	color: var(--text-color);
}

.footer-top .social-media-icons-desktop {
	display: none;
}

.social-media-icons-mobile,
.social-media-icons-desktop {
	--fab-container-color: var(--icon-container-color);
	--fab-icon-color: black;
}

@media screen and (min-width: 575px) {
	.footer-bottom {
		display: none;
	}

	.footer-top .social-media-icons-desktop {
		display: flex;
	}
}

@media screen and (min-width: 768px) {
	:host {
		padding: 50px 25px;
	}

	.logo-container button {
		--container-size: 125px;

		width: var(--container-size);
		height: var(--container-size);
	}
}
