<footer>

    <article>

        <h3>
            ¿Querés sumarte con tu donación?
        </h3>
        <p>
            Hacé click <a href="/donar">acá</a>.
        </p>
        <p>
            ¡Con tu aporte colaboras para fortalecer nuestros programas y que estemos más cerca de cumplir nuestra misión!
        </p>

    </article>

    <article>

        <div>

            <h3 style="margin-bottom: 2%;">
                ¡Hacé click y visitá nuestro instagram!
            </h3>
            <!-- SnapWidget -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/913231" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>

        </div>

    </article>

    <article>

        <h3>
            ¡Contactanos!
        </h3>
        <p>
            Podés llamarnos al <i>11-6535-3437</i> de lunes a viernes de 9:00 a 16:00 hs o escribir un mail a <a href="mailto:">contacto@manosdelacava.org</a>.
        </p>

    </article>

    <article>

        <h3>
            Newsletter
        </h3>

        <div class="newsletterDiv">

            <input type="checkbox" name="confirmacionNews">
            <label for="confirmacionNes">Acepto recibir notificaciones</label>

        </div>


        <form action="/" method="post">
        <input type="email" name="email" id="email" placeholder="example@example">
        <button type="submit">Subscribirse</button>
        </form>


    </article>

</footer>