<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manos de La Cava - Bienvenido</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Black.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-BlackItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Bold.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-BoldItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-ExtraBold.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-ExtraBoldItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-ExtraLight.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-ExtraLightItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Italic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Light.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-LightItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Medium.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-MediumItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Regular.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-SemiBold.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-SemiBoldItalic.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-Thin.ttf">
    <link rel="stylesheet" href="/public/fonts/Montserrat-ThinItalic.ttf">
</head>