<header class="encabezado">
    <div class="encabezado-1">
        <img src="/logo/Logo.png" alt="Logo" class="encabezado-1-logo">
        <h2 class="encabezado-1-subtitulo">Sumá tu mano a la nuestra <i class="fas fa-hands-helping"></i></h2>
    </div>
    <div class="encabezado-2">
        <nav class="encabezado-2-navbar">
            <ul class="encabezado-2-navbar-secciones">
                <li class="encabezado-2-navbar-secciones-bienvenido"><a href="http://localhost:3000/">Bienvenido</a></li>
                <li class="encabezado-2-navbar-secciones-nosotros"><a href="http://localhost:3000/nosotros">Nosotros</a></li>
                <li class="encabezado-2-navbar-secciones-programas"><a href="http://localhost:3000/nuestros-programas">Nuestros Programas</a>
                    <ul class="encabezado-2-navbar-secciones-programas-submenu">
                        <li><a href="http://localhost:3000/nuestros-programas/educacion">Educación</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/primera-infancia">Primera Infancia</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/gestion-del-tiempo-libre">Gestión del tiempo libre</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/deportes">Deportes</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/acceso-a-la-salud">Acceso a la salud</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/adultos">Adultos</a></li>
                        <li><a href="http://localhost:3000/nuestros-programas/intervenciones-integrales">Intervenciones integrales</a></li>
                    </ul>
                </li>
                <li class="encabezado-2-navbar-secciones-resultados"><a href="http://localhost:3000/resultados">Resultados</a></li>
                <li class="encabezado-2-navbar-secciones-donar"><a href="http://localhost:3000/donar">Donar</a></li>
                <li class="encabezado-2-navbar-secciones-contacto"><a href="http://localhost:3000/contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>