<mdlc-content-layout
	class="layout-columns"
	aria-labelledby="adultos-main-title"
>
	<div class="content-block">
		<header>
			<h1
				id="adultos-main-title"
				class="page-main-title"
			>
				Adultos
			</h1>
		</header>
		<p>
			Creemos que el deporte tiene una gran implicancia en el desarrollo de los chicos. A través de él, se trabajan
			valores tanto grupales como personales y se busca evitar la situación de calle en que se encuentran los chicos por
			falta de lugares de esparcimiento.
		</p>
	</div>

	<div class="content-block content-media">
		<mdlc-gallery [images]="adultsGalleryImages" />
	</div>

	<!-- Bloque 3: Texto Adicional -->
	<div class="content-block">
		<p>
			Asimismo, en lo físico, evita la obesidad, fortalece y desarrolla la estructura muscular, mejora la capacidad
			aeróbica y se desarrolla la anaeróbica, previene enfermedades y levanta la autoestima. Para esto se crean espacios
			para niños y adolescentes en los cuales se desarrollan las actividades, acompañadas por una merienda donde,
			mediante una charla, hacemos hincapié en los valores antes mencionados.
		</p>
		<p>
			También se organizan salidas recreativas y torneos, en las cuales consideramos importante que los chicos compitan
			dentro y fuera del barrio.
		</p>
		<p>Este tipo de actividades permiten el desarrollo de la confianza en sí mismo y la independencia.</p>
	</div>

	<div class="content-block content-media content-media--image">
		<mdlc-image-viewer
			class="standalone-image"
			imageUrl="assets/programs/kindergarten/manitos-3.webp"
			altText="Adulto sonriendo mientras participa en una actividad de Manos de la Cava."
			[width]="1200"
			[height]="800"
		/>
	</div>
</mdlc-content-layout>
