<!--Head-->
    <%- include('../partials/head') %>
<!--Head-->
<body>

    <!--Header-->
        <%- include('../partials/header') %>    
    <!--Header-->
    <main class="body">
       <article class="disenoNaranja">
           <h2>"No siempre podemos hacer grandes cosas, pero si podemos hacer pequeñas cosas con gran amor".</h2>
           <h3>Madre Teresa de Calcuta</h3>
       </article>
       <article class="containerSlider">
           <ul class="slider">
               <li id="slide1">
                   <img src="/images/SliderBienvenido1.png" alt="">
                </li>
               <li id="slide2">
                   <img src="/images/SliderBienvenido2.png" alt="">
                </li>
               <li id="slide3">
                   <img src="/images/SliderBienvenido3.png" alt="">
                </li>
               <li id="slide4">
                   <img src="/images/SliderBienvenido4.png" alt="">
                </li>
               <li id="slide5">
                   <img src="/images/SliderBienvenido5.png" alt="">
                </li>
           </ul>
           <ul class="sliderButtons">
               <li>
                   <a href="#slide1">1</a>
                </li>
               <li>
                   <a href="#slide2">2</a>
                </li>
               <li>
                   <a href="#slide3">3</a>
                </li>
               <li>
                   <a href="slide4">4</a>
                </li>
               <li>
                   <a href="#slide5">5</a>
                </li>
           </ul>
       </article>
    </main>
</body>
</html>