<!--Head-->
    <%- include('../partials/head') %>
<!--Head-->
<body>

    <!--Header-->
        <%- include('../partials/header') %>    
    <!--Header-->
    <main class="body">

    </main>

    <!--Header-->
    <%- include('../partials/footer') %>    
    <!--Header-->    
</body>
</html>