<mdlc-content-layout
	id="inicio"
	class="layout-columns hero-section-layout"
>
	<div class="content-block">
		<mdlc-hero />
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	id="programas"
	class="layout-columns areas-section-layout"
>
	<div class="content-block">
		<mdlc-card-list />
	</div>
</mdlc-content-layout>

<mdlc-content-layout class="layout-columns sponsors-section-layout">
	<div class="content-block">
		<mdlc-sponsors />
	</div>
</mdlc-content-layout>

<mdlc-content-layout
	id="contacto"
	class="layout-columns contact-section-layout"
>
	<div class="content-block">
		<mdlc-contact />
	</div>
</mdlc-content-layout>
